body {
  background-color: #b497c5;
  margin: 0px;
  height: 100vh;
  line-height: 20px;
}
.title {
}

.info {
}

.info__title {
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  border: 2px dotted mediumturquoise;
  padding: 10px;
  text-align: justify;
}

.info__card {
  color: rgb(230, 101, 155);
}
.title__footer {
}
