body {
  background-color: #b497c5;
  margin: 0px;
  height: 100vh;
  line-height: 20px;
  box-sizing: border-box;
}
.title {
}

.info {
  padding: 10px;
}

.info__title {
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-item {
  border: 3px dotted mediumturquoise;
  text-align: justify;
  position: relative;
  margin: 20px;
  width: 350px;
}

.card-item h2 {
  position: absolute;
  top: 0px;
  left: 50%;
  border: 2px solid mediumturquoise;
  border-radius: 5px;
  margin: 0px;
  color: #cf3676;
  padding: 5px 10px;
  transform: translate(-50%, -50%);
  width: 90%;
  background: #b497c5;
}
.info__card {
  color: #cf3676;
  padding: 40px;
}
.code-container {
  padding: 10px;
  padding-bottom: 40px;
}
.code-snippet {
  border-radius: 5px;
  background: linear-gradient(to bottom, #9e6fb9, #cf80cb);
  padding: 10px;
}
.title__footer {
}
@media screen and (max-width: 768px) {
  .card-item;
   {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .card-item;
   {
    width: 100%;
  }
}
