body {
  background-color: #b497c5;
  margin: 0px;
  height: 100vh;
  line-height: 20px;
  box-sizing: border-box;
}
.title {
}

.info {
}

.info__title {
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  border: 3px dotted mediumturquoise;
  text-align: justify;
  position: relative;
}

.card-item h2 {
  position: absolute;
  border: 1px solid purple;
  margin: 0px;
}
.info__card {
  color: rgb(207, 54, 118);
  padding: 10px;
}
.code-snippet {
  border-radius: 5px;
  background: linear-gradient(to bottom, #9e6fb9, #cf80cb);
  padding: 10px;
}
.title__footer {
}
